a, a:hover, a:focus, a:active {
     text-decoration: none;
     color: inherit;
}

.float-right {
  float: right;
}

.footer-col {
  height: 60px;
}

.footer-item  {

}

.footer-img {
  height: 60px;
}

.footer-wrap {
  padding-top: 35px;
  padding-bottom: 35px;
}

.goody-header-text {

}

.header-col {
  height: 60px;
}

.header-item {
  height: inherit;
}

.header-wrap {
  padding-top: 35px;
  padding-bottom: 60px;
}

.home-page {
  /* font-size: 4em; */
  /* line-height: 55pt; */
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.menu-col {
  height: 60px;
}

.menu-option {
  text-align: center;
  padding: 20px;
}

.menu-overlay {
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.no-show {
  display: none;
}

#burger-menu {

}

#goody-boi {
  float: left;
  height:60px;
}

@media screen and (max-width: 600px){
  .header-col {
    width: 50%;
  }

  .footer-col {
    width: 50%;
  }

}

@media screen and (max-width: 850px){
  .goody-header-text{
    display: none;
  }

  .goody-footer-text{
    display: none;
  }

}
