button {
  border:none;
  text-transform: none;
  color: white;
}

button:hover {
  color: white;
}

input[type=text] {
    font-size: 35px;
    height: 50px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

input[type=email] {
    font-size: 35px;
    height: 50px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    border: none !important;
    outline: none !important;
}

.checkbox-wrap {
  font-size: 30px;
  display: flex;
}

.checkbox-wrap > span {
  padding-right: 20px;
}

.checkbox {
  fill: white;
  height: 50px;
}

.error-message {
  color: yellow;
  font-size: 15px;
}

.full-width {
  width: 100%;
}

.input-labels {
  font-size: 35px;
}

.text-input {
  border-bottom: 4px solid white;
  margin-bottom: 0px;
  padding-left: 0px;
}

.submit-wrap {
  padding-top: 35px;
}

@media screen and (max-width: 1080px){
  .form-inputs {
    /* Overiding skeleton css here */
    width: 100% !important;
  }

  .checkbox-inputs {
    padding-top: 35px;
  }

}
